body {
  font-size: 1.125rem;
  background-color: #f2f2f2;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.inverse {
  color: #fff;
}

.font-weight-200 {
  font-weight: 200;
}

/* style overrides */
.ant-layout-footer {
  font-size: inherit;
}
